.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: orange;
  border: 1px solid black; */
}

.dataCss{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap:wrap;
  font-family: cursive;
  font-size: 30px;
  text-align: justify;
  /* text-indent: 10px; */
  text-align-last: right;
  /* border: 1px solid red; */
  color: rgb(145, 17, 55);
  background-color:  rgb(255, 215, 227);
}