.divCls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000000;
/* margin-top: 15px;
margin-right: 15px;
margin-left: 20px;
margin-bottom: 20px; */

margin: 10px;
border-radius: 0.5em;
box-shadow: 2px 2px 4px 2px grey;
background-color:rgb(242, 179, 242);
}

p{
    font-family: cursive;
    font-size: 30px;
    padding: 20px;
    line-height: 1em;
    
}