div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(130, 51, 130);
    color: white;
    font-family: cursive;
    font-size: 50px;
  width: 100%;
  height: 8%;
}

a{
    color: white;
}