.divCls{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 252, 182);
    height: 100vh;
}

p{
    font-family: cursive;
    font-size: 30px;
    line-height: 2em;
    border: 1px solid darkgreen;
    box-shadow:2px 2px 4px 2px rgb(69, 78, 69);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5em;
}