<app-app-header  [show]="true" [title]="'Services'"></app-app-header>


<div class="container cls">
   
    <div class="container box"> 
        <label ><h3>Enter your DOB</h3></label>
        <div class="inputDiv">
            <input type="date" name="dob" [(ngModel)] ="dob">
        </div>
      
    <div class="buttonCls">
        <button (click)="submit()">Calculate Age </button>
    </div>
       
       <div class="ageCls">
        <h2 *ngIf="show">Hey! You are {{Age}} years old</h2>
       </div>
      
    
    </div>

</div>